<nav class="main-nav">
  <div class="container">
    <button class="main-nav__toggler" type="button" name="menu">
      <span class="visuallyhidden">Главное меню</span>
    </button>
    <div class="main-nav__logo">
      <img src="#" alt="Логотип Насосмаш" title="Насосмаш">
      <b>Изготовление оборудования</b>
    </div>
    <div class="main-nav__contact-info">
      <a href="tel:+74952225660" class="main-nav__tel">+7(495)222-56-60</a>
      <a href="#" class="main-nav__link">Заказать звонок</a>
    </div>
  </div>
</nav>
