<div class="main-menu">
  <div class="main-menu__overlay"></div>
  <div class="main-menu__header">
    <button class="main-nav__close" type="button" name="menu">
      <span class="visuallyhidden">Главное меню</span>
    </button>
  </div>
  <ul class="main-menu__list">
    <li class="main-menu__item">
      <a href="/">Главная</a>
    </li>
    <li class="main-menu__item">
      <a href="about.html">О компании</a>
    </li>
    <li class="main-menu__item">
      <a href="catalog.html">Каталог продукции</a>
    </li>
    <li class="main-menu__item">
      <a href="delivery-new.html">Доставка</a>
    </li>
    <li class="main-menu__item">
      <a href="#">Информация</a>
    </li>
    <li class="main-menu__item">
      <a href="order.html">Контакты</a>
    </li>
  </ul>
</div>
