<div class="contacts">
  <p><span>Адрес: </span>107078&nbsp;г. Москва ул. Каланчевская д.&nbsp;11. стр.&nbsp;3</p>
  <p><span>E-mail: </span><a href="email:office@nasosmash.com">office@nasosmash.com</a></p>
  <p><span>Телефон: </span><a href="tel:+74952225660">+7(495)222-56-60</a></p>
</div>
