<footer class="footer-main">
  <div class="container-fluid">
    <div class="footer-main__column">
      <h4>OOO&nbsp;&laquo;Насосмаш&raquo;</h4>
      <div class="footer-main__contact-info">
        <p>г.&nbsp;Москва ул.&nbsp;Каланчевская д.&nbsp;11 стр.&nbsp;3</p>
        <p>Тел: <a href="tel:+74952225660">(495)222-56-60</a></p>
        <p><a href="email:office@nasosmash.com">office@nasosmash.com</a></p>
      </div>
    </div>
    <div class="footer-main__column">
      {{> components/social/social}}
    </div>
  </div>
</footer>
