<section class="slide-panel">

  <div class="slide-panel__item baikal" style="display: none">
    <div class="slide-panel__image">
      <img class="logo img-responsive baikal animated" src="img/delivery-baikal.jpg" alt="">
    </div>
    <div class="slide-panel__description">
      <p class="slide-panel__text slide-panel__text--baikal">
        Мы&nbsp;осуществляем ежедневную доставку во&nbsp;все регионы России!
        Наша компания уделяет большое внимание, чтобы&nbsp;Вы в&nbsp;кратчайшие сроки получили Ваш заказ и&nbsp;при этом не&nbsp;переплатили за&nbsp;доставку. Поэтому наши менеджеры стараются выбрать наиболее оптимального грузоперевозчика с&nbsp;целью доставки Вашего заказа. Доставка заказа осуществляется в&nbsp;Вашем городе как до&nbsp;терминала грузоперевозчика, так и&nbsp;непосредственно до&nbsp;вашего склада или офиса.
        Мы&nbsp;сотрудничаем с&nbsp;транспортной компанией &laquo;Байкал Сервис&raquo;, которая более 20&nbsp;лет перевозит сборные грузы по&nbsp;России и&nbsp;имеет более 150 городов присутствия, что позволяет ей&nbsp;предоставлять клиентам выгодные решения в&nbsp;организации грузоперевозок и&nbsp;осуществлять транспортные и&nbsp;логистические услуги в&nbsp;едином стандарте обслуживания.
      </p>
      <a target="_blank" href="https://www.baikalsr.ru/tools/calculator/" class="btn btn--inner">Заказать доставку</a>
    </div>
  </div>

    <div class="slide-panel__item dl" style="display: none">
      <div class="slide-panel__image">
        <img class="logo img-responsive dl animated" src="img/delivery-dl.jpg" alt="">
      </div>
      <div class="slide-panel__description">
        <p class="slide-panel__text slide-panel__text--dl">
          Мы&nbsp;осуществляем ежедневную доставку во&nbsp;все регионы России!
          Наша компания уделяет большое внимание, чтобы&nbsp;Вы в&nbsp;кратчайшие сроки получили Ваш заказ и&nbsp;при этом не&nbsp;переплатили за&nbsp;доставку. Поэтому наши менеджеры стараются выбрать наиболее оптимального грузоперевозчика с&nbsp;целью доставки Вашего заказа.
          Мы&nbsp;сотрудничаем с&nbsp;транспортной компанией &laquo;Деловые Линии&raquo; позволяющая осуществлять грузовые перевозки сборным грузом, либо индивидуальным, выделенным под заказ клиента, транспортом. Грузоперевозки осуществляются в&nbsp;любую точку России или за&nbsp;границу&nbsp;&mdash; в&nbsp;Беларусь, Казахстан, Киргизию, Армению. Имеется два вида срочной перевозки грузов&nbsp;&mdash; авиаперевозку и&nbsp;экспресс. Перевозка грузов авиатранспортом осуществляется в&nbsp;большинство городов России, где есть аэропорты, а&nbsp;также за&nbsp;границу.
        </p>
        <a target="_blank" href=" https://www.dellin.ru/requests/" class="btn btn--inner">Заказать доставку</a>
      </div>
    </div>

    <div class="slide-panel__item pek">
      <div class="slide-panel__image">
        <img class="logo img-responsive pek animated" src="img/delivery-pek.jpg" alt="">
      </div>
      <div class="slide-panel__description">
        <p class="slide-panel__text slide-panel__text--pek">
          Мы&nbsp;осуществляем ежедневную доставку во&nbsp;все регионы России!
          Наша компания уделяет большое внимание, чтобы&nbsp;Вы в&nbsp;кратчайшие сроки получили Ваш заказ и&nbsp;при этом не&nbsp;переплатили за&nbsp;доставку. Мы&nbsp;сотрудничаем с&nbsp;транспортной компанией ПЭК, которая имеет филиалы в&nbsp;120 городах России, при этом забор и&nbsp;адресная доставка грузов и&nbsp;товаров клиентов осуществляется в&nbsp;радиусе 300&nbsp;км от&nbsp;каждого филиала. География транспортных услуг охватывает практически всю территорию&nbsp;РФ, включая Крым. Имеется система льготной доставки Компании &laquo;ПЭК&raquo;, которая позволяет по&nbsp;приемлемым ценам обслуживать города Ямало-Ненецкого автономного округа, а&nbsp;также Новый Уренгой, Находку, Комсомольск-на-Амуре и&nbsp;др. Филиалы во&nbsp;всех городах подключены к&nbsp;единой информационной системе, а&nbsp;значит, у&nbsp;клиентов есть возможность в&nbsp;любое время получить исчерпывающую информацию о&nbsp;местонахождении груза в&nbsp;любой точке страны.
        </p>
        <a target="_blank" href="https://pecom.ru/services-are/the-calculation-of-the-cost/" class="btn btn--inner">Заказать доставку</a>
      </div>
    </div>

    <aside class="side-panel">
      <div class="side-item side-item--baikal" data-toggle="baikal">
        <p>Байкал Сервис</p>
      </div>
      <div class="side-item side-item--dl" data-toggle="dl">
        <p>Деловые линии</p>
      </div>
      <div class="side-item side-item--pek" data-toggle="pek" style="display: none">
        <p>ПЭК</p>
      </div>
    </aside>

  </div>

</section>
