<section class="catalog">
  <div class="catalog-list">
    <article class="catalog-list__item">
      <div class="catalog-list__hover">
        <a href="oil-pump.html" class="catalog-list__title">
          <h2>Нефтяные насосы</h2>
        </a>
        <ul class="catalog-list__links">
          <li>
            <a href="#">Насосы серии НК, НКВ</a>
          </li>
          <li>
            <a href="#">Насосы серии НПС</a>
          </li>
        </ul>
      </div>
      <img src="img/catalog-items/catalog-item-Nasos_oil.jpg" width="300" height="300" alt="Нефтяные насосы">
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover">
        <a href="#" class="catalog-list__title">
          <h2>Торцевые уплотнители</h2>
        </a>
        <ul class="catalog-list__links">
          <li>
            <a href="#">Насосы серии НК, НКВ</a>
          </li>
          <li>
            <a href="#">Насосы серии НПС</a>
          </li>
        </ul>
      </div>
      <img src="img/catalog-items/catalog-item-torc_uplot.jpg" width="300" height="300" alt="Торцевые уплотнители">
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover">
        <a href="#" class="catalog-list__title">
          <h2>Муфты</h2>
        </a>
        <ul class="catalog-list__links">
          <li>
            <a href="#">Насосы серии НК, НКВ</a>
          </li>
          <li>
            <a href="#">Насосы серии НПС</a>
          </li>
        </ul>
      </div>
      <img src="img/catalog-items/catalog-item-mufty.jpg" width="300" height="300" alt="Муфты">
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover">
        <a href="#" class="catalog-list__title">
          <h2>Системы обеспечения работоспособности</h2>
        </a>
        <ul class="catalog-list__links">
          <li>
            <a href="#">Насосы серии НК, НКВ</a>
          </li>
          <li>
            <a href="#">Насосы серии НПС</a>
          </li>
        </ul>
      </div>
      <img src="img/catalog-items/catalog-item-syst_rab.jpg" width="300" height="300" alt="Системы обеспечения работоспособности">
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover">
        <a href="#" class="catalog-list__title">
          <h2>Запасные части</h2>
        </a>
        <ul class="catalog-list__links">
          <li>
            <a href="#">Рабочее колесо</a>
          </li>
          <li>
            <a href="#">Вал</a>
          </li>
          <li>
            <a href="#">Ротор</a>
          </li>
          <li>
            <a href="#">Корпус</a>
          </li>
          <li>
            <a href="#">Гильза</a>
          </li>
          <li>
            <a href="#">Втулка</a>
          </li>
          <li>
            <a href="#">Грундбукса</a>
          </li>
        </ul>
      </div>
      <img src="img/catalog-items/catalog-item-zapas_chadti.jpg" width="300" height="300" alt="Запасные части">
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover">
        <a href="#" class="catalog-list__title">
          <h2>Нестандартные изделия</h2>
        </a>
        <ul class="catalog-list__links">
          <li>
            <a href="#">Насосы серии НК, НКВ</a>
          </li>
          <li>
            <a href="#">Насосы серии НПС</a>
          </li>
        </ul>
      </div>
      <img src="img/catalog-items/catalog-item-nestandart_izdelia.jpg" widdth="300" height="300" alt="Нестандартные изделия">
    </article>

  </div>
</section>
