<section class="catalog">
  <div class="catalog-list">
    <article class="catalog-list__item">
      <div class="catalog-list__hover">
      </div>
      <figure class="catalog-list__image">
        <img src="img/catalog-items/catalog-item-Nasos_oil.jpg" widdth="300" height="300" alt="Нефтяные насосы">
        <figcaption>
          <h2>Нефтяные насосы</h2>
        </figcaption>
      </figure>
      <ul class="catalog-list__links">
        <li>
          <a href="#">Насосы серии НК, НКВ</a>
        </li>
        <li>
          <a href="#">Насосы серии НПС</a>
        </li>
      </ul>
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover"></div>
      <figure class="catalog-list__image">
        <img src="img/catalog-items/catalog-item-torc_uplot.jpg" widdth="300" height="300" alt="Торцевые уплотнители">
        <figcaption>
          <h2>Торцевые уплотнители</h2>
        </figcaption>
      </figure>
      <ul class="catalog-list__links">
        <li>
          <a href="#">Насосы серии НК, НКВ</a>
        </li>
        <li>
          <a href="#">Насосы серии НПС</a>
        </li>
      </ul>
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover">
      </div>
      <figure class="catalog-list__image">
        <img src="img/catalog-items/catalog-item-mufty.jpg" widdth="300" height="300" alt="Муфты">
        <figcaption>
          <h2>Муфты</h2>
        </figcaption>
      </figure>
      <ul class="catalog-list__links">
        <li>
          <a href="#">Насосы серии НК, НКВ</a>
        </li>
        <li>
          <a href="#">Насосы серии НПС</a>
        </li>
      </ul>
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover">
        <ul>
          <li>
            <a href="#">Ссылки</a>
          </li>
        </ul>
      </div>
      <figure class="catalog-list__image">
        <img src="img/catalog-items/catalog-item-syst_rab.jpg" widdth="300" height="300" alt="Системы обеспечения работоспособности">
        <figcaption>
          <h2>Системы обеспечения работоспособности</h2>
        </figcaption>
      </figure>
      <ul class="catalog-list__links">
        <li>
          <a href="#">Насосы серии НК, НКВ</a>
        </li>
        <li>
          <a href="#">Насосы серии НПС</a>
        </li>
      </ul>
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover"></div>
      <figure class="catalog-list__image">
        <img src="img/catalog-items/catalog-item-zapas_chadti.jpg" widdth="300" height="300" alt="Запасные части">
        <figcaption>
          <h2>Запасные части</h2>
        </figcaption>
      </figure>
      <ul class="catalog-list__links">
        <li>
          <a href="#">Рабочее колесо</a>
        </li>
        <li>
          <a href="#">Вал</a>
        </li>
        <li>
          <a href="#">Ротор</a>
        </li>
        <li>
          <a href="#">Корпус</a>
        </li>
        <li>
          <a href="#">Гильза</a>
        </li>
        <li>
          <a href="#">Втулка</a>
        </li>
        <li>
          <a href="#">Грундбукса</a>
        </li>
      </ul>
    </article>

    <article class="catalog-list__item">
      <div class="catalog-list__hover"></div>
      <figure class="catalog-list__image">
        <img src="img/catalog-items/catalog-item-nestandart_izdelia.jpg" widdth="300" height="300" alt="Нестандартные изделия">
        <figcaption>
          <h2>Нестандартные изделия</h2>
        </figcaption>
      </figure>
      <ul class="catalog-list__links">
        <li>
          <a href="#">Насосы серии НК, НКВ</a>
        </li>
        <li>
          <a href="#">Насосы серии НПС</a>
        </li>
      </ul>
    </article>
  </div>
</section>
