{{#> layouts/base title="Каталог продукции" }}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
    {{> components/main-nav/main-nav}}

    <div class="page page--inner">
      <div class="container">
        {{> components/main-menu/main-menu}}
      </div>
    </div>
    {{> components/agreement/agreement}}
    {{> components/footer-main/footer-main}}
  {{/inline}}

  {{#* inline "scripts-block"}}{{/inline}}
{{/layouts/base}}
