{{#> layouts/base title="Index" }}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  <div class="page page--main">
    {{> components/main-nav/main-nav--index}}
    {{> components/page-toggler/page-toggler}}
    {{> components/main-menu/main-menu}}

    <div id="pt-main">
      <section class="section section--1 pt-page">
        <div class="section__bg-image"></div>
        <div class="section__content">
          <h1>Оборудование для нефтяной, газовой и&nbsp;нефтехимической отраслей промышленности</h1>
          <div class="section__links">
            <div class="section__link">
              <a href="#" class="btn btn--main">Скачать опорный лист</a>
            </div>
            <div class="section__link">
              <a href="catalog.html" class="btn btn--main">Смотреть каталог</a>
            </div>
          </div>
        </div>
      </section>

      <section class="section section--2 pt-page">
        <div class="section__bg-image"></div>
        <div class="section__content">
          <p>Мы&nbsp;осуществляем поставки насосного оборудования для нефтяной и&nbsp;газовой сферы и&nbsp;запасных частей к&nbsp;нему. ООО&nbsp;&laquo;Насосмаш&raquo; является лидером по&nbsp;продаже нового оборудования, с&nbsp;использованием качественных материалов в&nbsp;оговорённые сроки.</p>
          <ul class="section__features">
            <li>
              <b>480&nbsp;000</b> номенклатурных позиций нефтяного оборудования
            </li>
            <li>
              <b>300&nbsp;000</b> договоров на поставку оборудования в год
            </li>
            <li>
              <b>12</b> лет безупречной работы
            </li>
          </ul>
          <a href="about.html"  class="btn btn--main">О компании</a>
        </div>
      </section>

      <section class="section section--3 pt-page">
        <div class="section__bg-image"></div>
        <div class="section__content">
          <div>
            <h2>Запасные части к нефтяным насосам</h2>
            <p>Мы&nbsp;изготавливаем запасные части к&nbsp;нефтяным насосам типа&nbsp;HK и&nbsp;HKB.</p>
            <p>НПО &laquo;Насосмаш&raquo; может обеспечить производство запасных частей к&nbsp;насосам под заказ по&nbsp;чертежам заказчика.</p>
          </div>
          <a href="catalog.html"  class="btn btn--main">Смотреть каталог</a>
        </div>
      </section>

      <section class="section section--4 pt-page">
        <div class="section__bg-image"></div>
        <div class="section__content">
          <ul class="section__features section__features--list">
            <li>Безупречная репутация</li>
            <li>Надёжное качество</li>
            <li>Поставка в оговоренные сроки</li>
            <li>Более 1000 реализованных проектов</li>
          </ul>
          <a href="about.html"  class="btn btn--main">Смотреть проекты</a>
        </div>
      </section>

      <section class="section section--5 pt-page">
        <div class="section__bg-image"></div>
        <div class="section__content">
          <p>Если вы&nbsp;хотите стать нашим пртнёром&nbsp;&mdash; приглашаем к&nbsp;сотрудничеству!</p>
          <a href="#"  class="btn btn--main">Стать партнёром</a>
        </div>
      </section>

      <section class="section section--6 pt-page">
        <div class="section__bg-image"></div>
        <div class="section__content">
          <p>Комплексное удовлетворение потребностей Заказчиков в&nbsp;современном и&nbsp;надёжном оборудовании для производства высококачественных нефтепродуктов, соответствующих мировым стандартам и&nbsp;требованиям рынка.</p>
          <ul class="section__features">
            <li>
              <img src="img/icon-feature-engineering.svg" width="150" height="160" alt="">
              <span>Проектирование</span>
            </li>
            <li>
              <img src="img/icon-feature-machine.svg" width="150" height="160" alt="">
              <span>Изготовление оборудования</span>
            </li>
            <li>
              <img src="img/icon-feature-settings.svg" width="150" height="160" alt="">
              <span>Участие в пуско-наладке</span>
            </li>
            <li>
              <img src="img/icon-feature-guarantee.svg" width="150" height="160" alt="">
              <span>Гарантия и аудит поставленного оборудования</span>
            </li>
          </ul>
          <a href="delivery.html" class="btn btn--main">Информация о доставке</a>
        </div>
      </section>

    </div>
  </div>
  {{/inline}}

  {{#* inline "scripts-block"}}
    <script src="plugins/modernizr/modernizr.custom.js"></script>
  {{/inline}}
{{/layouts/base}}
