{{#> layouts/base title="Index" }}

  {{#* inline "nav"}}
    {{> components/nav}}
  {{/inline}}

  {{#*inline "content-block"}}
  {{> components/main-nav/main-nav}}
  {{> components/page-toggler/page-toggler}}

  <div class="owl-carousel">
  	<section class="section section--1">
      <div class="section__bg-image"></div>
      <div class="section__content">
        <h2 class="section__logo">Завод &laquo;Насосмаш&raquo;</h2>
        <h1>Оборудование для нефтяной, газовой и&nbsp;нефтехимической отраслей промышленности</h1>
        <div class="section__links">
          <div class="section__link">
            <a href="#" class="btn--main">Скачать опорный лист</a>
          </div>
          <div class="section__link">
            <a href="#" class="btn--main">Смотреть каталог</a>
            <p>Всегда есть оборудование в нужном объёме</p>
          </div>
        </div>
      </div>
    </section>

  	<section class="section section--2">
      <div class="section__bg-image"></div>
      <div class="section__content">
        <h2 class="section__logo">Завод &laquo;Насосмаш&raquo;</h2>
        <p>Мы&nbsp;осуществляем поставки насосного оборудования для нефтяной и&nbsp;газовой сферы и&nbsp;запасных частей к&nbsp;нему. ООО&nbsp;&laquo;Насосмаш&raquo; является лидером по&nbsp;продаже нового оборудования, с&nbsp;использованием качественных материалов в&nbsp;оговорённые сроки.</p>
        <a href="#"  class="btn--main">О компании</a>
        <ul class="section__features">
          <li>
            <b>480&nbsp;000</b> номенклатурных позиций нефтяного оборудования
          </li>
          <li>
            <b>300&nbsp;000</b> договоров на поставку оборудования в год
          </li>
          <li>
            <b>12</b> лет безупречной работы
          </li>
        </ul>
      </div>
    </section>

  	<section class="section section--3">
      <div class="section__bg-image"></div>
        <div class="section__content">
          <h2 class="section__logo">Завод &laquo;Насосмаш&raquo;</h2>
          <h2>Запасные части к нефтяным насосам</h2>
          <a href="#"  class="btn--main">Смотреть каталог</a>
          <p>Мы&nbsp;изготавливаем запасные части к&nbsp;нефтяным насосам типа&nbsp;HK и&nbsp;HKB.</p>
          <p>НПО &laquo;Насосмаш&raquo; может обеспечить производство запасных частей к&nbsp;насосам под заказ по&nbsp;чертежам заказчика.</p>
        </div>
    </section>

    <section class="section section--4">
      <div class="section__bg-image"></div>
      <div class="section__content">
        <h2 class="section__logo">Завод &laquo;Насосмаш&raquo;</h2>
        <ul class="section__features section__features--list">
          <li>Безупречная репутация</li>
          <li>Надёжное качество</li>
          <li>Поставка в оговоренные сроки</li>
        </ul>
        <h2>Более 1000 реализованных проектов</h2>
        <a href="#"  class="btn--main">Смотреть наши объекты</a>
        <div class="section__link">
          <p>Если вы&nbsp;хотите стать нашим пртнёром&nbsp;&mdash; приглашаем к&nbsp;сотрудничеству!</p>
          <a href="#"  class="btn--main">Стать партнёром</a>
        </div>
      </div>
    </section>

    <section class="section section--5">
      <div class="section__bg-image"></div>
      <div class="section__content">
        <h2 class="section__logo">Завод &laquo;Насосмаш&raquo;</h2>
        <p>Комплексное удовлетворение потребностей Заказчиков в&nbsp;современном и&nbsp;надёжном оборудовании для производства высококачественных нефтепродуктов, соответствующих мировым стандартам и&nbsp;требованиям рынка.</p>
        <ul class="section__features">
          <li>Проектирование</li>
          <li>Изготовление оборудования</li>
          <li>Участие в пуско-наладке</li>
          <li>Гарантия и аудит поставленного оборудования</li>
        </ul>
        <a href="#" class="btn--main">Информация о доставке</a>
      </div>
    </section>

  </div>
  {{/inline}}

<!--
    <header class="header">


    </header>
    <main>

    </main>
    {{#* inline "footer-block"}}
      <footer class="footer-main">

      </footer>
    {{/inline}} -->

  {{#* inline "scripts-block"}}
    {{> layouts/index.scripts}}
    <script>console.log("custom script")</script>
  {{/inline}}

{{/layouts/base}}
