<div class="chart-controls">
  <div class="chart-controls__control-group">
    <h3 class="chart-controls__title">Характеристика</h3>
    <ul>
      <li class="chart-controls__prop-toggle active" action="feed">подача</li>
      <li class="chart-controls__prop-toggle" action="pressure">напор</li>
      <li class="chart-controls__prop-toggle" action="power">мощность</li>
    </ul>
  </div>
  <div class="chart-controls__control-group">
    <h3 class="chart-controls__title">Показатель</h3>
    <ul>
      <li class="chart-controls__range-toggle active" action="min">min</li>
      <li class="chart-controls__range-toggle" action="max">max</li>
    </ul>
  </div>
  <div class="chart-controls__control-group">
    <h3 class="chart-controls__title">Вид диаграммы</h3>
    <ul>
      <li class="chart-controls__type-toggle active" action="round">круговая</li>
      <li class="chart-controls__type-toggle" action="gist">столбиковая</li>
    </ul>
  </div>
</div>
<div id="charts" style="width: 100%; height:550px; margin-bottom: 50px;">

</div>
